# HandsomeMod Packages
android-tools-adbd
eudev
gc
kmod-crypto-pcompress
kmod-qcom-bluetooth
kmod-qcom-modem
kmod-qcom-remoteproc
kmod-qcom-wcnss
kmod-usb-gadget
kmod-usb-gadget-eth
kmod-usb-gadget-functionfs
kmod-usb-lib-composite
kmod-wcn36xx
libdbus-glib
libgudev
libqrtr
libusbgx
qrtr-ns
rmtfs
rpmsgexport
uclibcxx
